@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,600&display=swap');
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul, a {
    list-style: none;
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
}
body{
    font-family: 'Josefin Slab', serif;
}
.logo{
    width: auto;
}

.header__top{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: flex-end;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
}

.header--top--left, .header--top--right{
    display: flex;
    gap: 7px;

}

.header--top--right{
    display: flex;
    justify-content: right;
}

.header--bottom{
    width: 90%;
    padding: 10px 70px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    justify-content: center;
    display: flex;
    font-size: 18px;
    margin: 40px;

}
.header--bottom__ele{
    margin: auto;
}

.header__ele a, .header--bottom__ele a{
    color: black;

}

.image__news{
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.image__wrapper{
    overflow: hidden;
}

.image__news:hover{
    transform: scale(1.1);
}


.title__news{
    font-weight: 700;
}

.primary__news .title__news{
    font-size: 35px;
    padding-top: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.primary__news .content__news{
    font-size: 13px;
    padding: 30px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.primary__news .author, .secondary__news .author{
    font-size: 13px;
    font-weight: bold;
}
.secondary-news__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 30px;
}

.secondary__news .title__news{
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.secondary__news .content__news{
    font-size: 13px;
    padding: 12px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
.layout__container{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: flex-start;
    gap: 50px;
    width: 90%;
    margin: auto;
}
.extra__news{
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 50px 0;

}

.extra__news .extra__news__title{
    font-size: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;

}

.extra__news .extra__news__date{
    padding: 30px 0;
}
.text {
    line-height: 20px;

}
.primary__news.text{
    line-height: 40px;
}